<script>
  document.addEventListener("DOMContentLoaded", function () {
        var sr_id_input = "{ID}";
        var sr_id_input_selector = $("#"+sr_id_input);
        var sr_link_input = "{AJAX_LINK}";
        var settings = {placeholder: "{PLACEHOLDER}",
                        minimumInputLength: "{MINIMUM_INPUT_LENGTH}"
        };
        if(sr_link_input.length > 0){
            settings["ajax"] = {
                url: sr_link_input,
                dataType: 'json',
                data: function(term, page){
                    return {
                        term: term,
                        page_limit: 10
                    }
                },
                results: function(data, page){
                    return {
                        results: data.result
                    }
                }
            }
        }
    sr_id_input_selector.select2(settings);

    function triggerCategoryInputCheck(selectedValues) {
      console.log(selectedValues);
      if(selectedValues.length === 0){
        $('.select2-choices').css('background-color', '#ffebeb')
        document.querySelector(".select2-choices").style.borderColor = "red";
      } else {
        $('.select2-choices').css('background-color', '#fff')
        document.querySelector(".select2-choices").style.borderColor = "black";
      }
    }

    sr_id_input_selector.on("change", function (e) {
        let selectedValues = $(this).val();
        triggerCategoryInputCheck(selectedValues)
      });

    triggerCategoryInputCheck(sr_id_input_selector.val());
    });
</script>

<select style="width:{WIDTH}; display:none;" class="chosen {CSS_CLASS}" data-placeholder="{PLACEHOLDER}" class="sr_multi_select_input" id="{ID}" name="{POST_VAR}" {ALL_DISABLED} multiple>
    <!-- BEGIN item -->
    <option value="{VAL}" {SELECTED} {DISABLED}>{TEXT}</option>
    <!-- END item -->
</select>

