<script>
  function xvmpInitMultiSelect_{ID}() {
        var sr_id_input = "{ID}";
        var sr_id_input_selector = $("#" + sr_id_input);
        if (sr_id_input_selector.length === 0 || sr_id_input_selector.hasClass("select2-hidden-accessible")) {
            return;
        }
        var sr_link_input = "{AJAX_LINK}";
        var settings = {
            placeholder: "{PLACEHOLDER}",
            minimumInputLength: {MINIMUM_INPUT_LENGTH},
            width: "100%"
        };
        if (sr_link_input.length > 0) {
            settings["ajax"] = {
                url: sr_link_input,
                dataType: 'json',
                data: function(term, page){
                    return {
                        term: term,
                        page_limit: 10
                    }
                },
                results: function(data, page){
                    return {
                        results: data.result
                    }
                }
            }
        }
    sr_id_input_selector.select2(settings);
    var choices = sr_id_input_selector.next('.select2-container').find(".select2-choices");

    function triggerCategoryInputCheck(selectedValues) {
      if (choices.length === 0 || "{REQUIRED}" !== "true") {
        return;
      }
      if(!selectedValues || selectedValues.length === 0){
        choices.css("border-color", "red");
        choices.css("background-color", '#ffebeb');
      } else {
        choices.css("border-color", "black");
        choices.css("background-color", "#fff");
      }
    }

    sr_id_input_selector.on("change", function (e) {
        let selectedValues = $(this).val();
        triggerCategoryInputCheck(selectedValues)
      });

    triggerCategoryInputCheck(sr_id_input_selector.val());
  }
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", xvmpInitMultiSelect_{ID});
  } else {
    xvmpInitMultiSelect_{ID}();
  }
</script>

<select style="width:100%;" class="chosen {CSS_CLASS} sr_multi_select_input" data-placeholder="{PLACEHOLDER}" id="{ID}" name="{POST_VAR}" {ALL_DISABLED} multiple>
    <!-- BEGIN item -->
    <option value="{VAL}" {SELECTED} {DISABLED}>{TEXT}</option>
    <!-- END item -->
</select>

