{VIDEO_PLAYER}
<!-- BEGIN info_message -->
<p style="color:red">{INFO_MESSAGE}</p>
<!-- END info_message -->
<p class="xvmp_description">{DESCRIPTION}</p>
<!-- BEGIN info_row -->
<div class="info-row">
  <!-- BEGIN info_label -->
  <p class="info-labels">{INFO_LABEL}</p>
  <!-- END info_label -->
  <!-- BEGIN info_paragraph -->
  <p>{INFO}</p>
  <!-- END info_paragraph -->
</div>
<!-- END info_row -->
<div class="xvmp_player_toolbar">
<!-- BEGIN button -->
{BUTTON}
<!-- END button -->
{PERM_LINK}
</div>
